
.column {
  flex-grow: 1;
  height: 100%;
  max-width: 200px;
  /* border: 5px solid grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.box {
  border-radius: 10px;
  color: black;
  position: relative;
  border: 2px solid black;
  max-width: 200px;
  min-width: 100px; 
  font-family: inherit;
  font-size: inherit;
  padding: 3px 8px;
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  min-height: 40px;
  line-height: 20px;
}

.box__active {
  border: 2px solid white;
}

.options-column .box {
  background-color: #507158;
}

.add-box-button {
  position: absolute;
  bottom: 20px;
  left: 37%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
}

.add-split-button {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border: none;
  right: -12px;
  top: 7px;
}

.frame {
  border: 2px solid blue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.split-column {
  align-content: stretch;
}

.value {
  background-color:transparent;
  height: 2rem;
  width: 6rem;
  border: none;
  text-align: center;
  border: none;
  outline: none;
}

.option-result-container {
  display: flex;
  align-items: center;
}

.result-display {
  margin-left: 1.2rem;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}